<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="/">GO HOME</a>
<a href="/users">Go back to users Index</a>
    <h1>Here is an enslaver of cats named <%= userOnTheTemplate.username %></h1>
    <ul>
        <h2>Here are <%=userOnTheTemplate.username%>'s cats</h2>
        <% for (let i = 0; i < userOnTheTemplate.cats.length; i++) {%>
        <li><a href="/cats/<%=userOnTheTemplate.cats[i]._id%>"><%=userOnTheTemplate.cats[i].name%></a></li>
        <%}%>
    </ul>
    <a href="/users/<%=userOnTheTemplate._id%>/edit">CHANGE THIS USER</a>
</body>
</html>